@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

:root {
  --main-blue: #1e2dfc;
  --background-color: #c7dcff;
  --text-color: #100427;
  --border-radius: 3px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Noto', serif;
  font-size: 1.2rem;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  display: grid;
  grid-template-rows: 3rem auto 2.5rem;
  grid-template-areas: 'header' 'main' 'footer';
}

@media (min-width: 42rem) {
  body {
    grid-template-columns: 15rem auto;
    grid-template-areas: 'header header' 'dash main' 'footer footer';
  }
}

#modal {
  position: relative;
}

dialog {
  border: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

main {
  background: repeating-linear-gradient(
    to left top,
    var(--background-color),
    #68c4e3
  );
  grid-area: main;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

p {
  text-align: center;
  margin: 0.5rem;
}

.line {
  border-bottom: 1px solid var(--background-color);
}

.back {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

footer {
  grid-area: footer;
  background-color: var(--main-blue);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100vw;
  font-size: 1.3rem;
  border-top: 1px solid var(--background-color);
}

a {
  color: var(--main-blue);
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  font-size: 1.3rem;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: var(--background-color);
  color: var(--main-blue);
  padding: 0.2rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
}

button:active {
  transform: scale(0.8);
}

button:hover {
  background-color: #74849f;
  color: var(--text-color);
}

.btn {
  background-color: var(--main-blue);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  width: max-content;
  margin: 1rem auto;
  font-weight: bold;
  font-size: 1.3rem;
}

.icon {
  margin: 0;
  background-color: transparent;
  color: var(--main-blue);
  border: none;
}

.icon:hover {
  background-color: transparent;
  color: var(--text-color);
}

.icon svg {
  font-size: 1.8rem;
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  margin: 1rem 0;
  height: max-content;
  padding: 0.5rem;
  width: 95%;
  max-width: 30rem;
}

.hidden-form {
  border: none;
  width: max-content;
  margin: 0;
}

.hidden-form ul {
  margin: auto;
}

.form-btn {
  background-color: var(--main-blue);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0.5rem auto;
  width: max-content;
}

label {
  margin: 0.4rem 0;
  font-size: 1.3rem;
  font-weight: bold;
}

input {
  padding: 0.2rem;
  width: 100%;
  font-size: 1.2rem;
}

input,
select,
textarea {
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline-color: #100427;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
}

textarea {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.2rem;
}

.input-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: 100%;
}

select {
  font-size: 1.3rem;
  margin-left: 0.5rem;
}

ul {
  margin-left: 1rem;
}

li {
  margin: 0.3rem 0;
}

.page-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-center p {
  max-width: 30rem;
}

.notification {
  padding: 0.5rem;
  border: 3px solid var(--text-color);
  border-radius: var(--border-radius);
  position: fixed;
  top: 30%;
  left: 5%;
  right: 5%;
  z-index: 150;
  background-color: var(--background-color);
  width: 90%;
}

@media (min-width: 28rem) {
  .notification {
    width: 30rem;
    margin: auto;
  }
}

.error {
  color: red;
}

.success {
  color: green;
}

.googleBtn {
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.loading {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}
